/* STYLING, mobile-first approach */

:root {
  --darkgrey: #241E20;
  --white: white;
  --green: #BBCF31;
  --lightgreen: #bacf3173;
  --grey: grey;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--darkgrey);
  color: var(--white);
  font-family: 'Doppio One', sans-serif;
}
    
h1 {
  color:var(--white);
  font-size: 20px
}

h2 {
  color:var(--white);
  font-size: 16px;
}

h3{
  font-size: 14px;
}

p {
  color:var(--white);
  font-size: 12px;
  }

a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
}

a:hover {
  color:var(--green);
  transition: 0.5s;
}

/* STYLING HEADER */

header {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
    
.header-text-button {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 10px;
  z-index:10;
  position: absolute;
  align-items: center;
  margin-top: 12em;
}

.video {
  z-index: 0;
}

.boka-knapp {
  padding: 15px;
  color: var(--darkgrey);
  background-color:var(--green);
  font-family: 'Doppio One', sans-serif;
  font-size: 16px;
  border-radius: 30px;
  border-style: none;
  width: 140px;
}

.boka-knapp:hover {
  background-color: var(--lightgreen);
}
    
 /* STYLING NAVBAR TOP */

.topnav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:(var(--darkgrey));
  height: 100px;
  visibility: hidden;
}

.topnav-left,.topnav-right {
  background-color: var(--darkgrey);
  overflow: hidden;
  display:flex;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav-left a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.topnav-right a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav-left a:hover,.topnav-right a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav-left a.active,.topnav-right a.active {
  background-color: var(--green);
  color: white;
}

.logo-top {
  display: block;
  margin: -100px auto auto auto;
  padding: 15px 0;
  height: 50px;
}

/* STYLING TACK SPONSORER index.html */

.tack-sponsorer {
  margin: 5% 5%;
  padding: 5%
}

.sponsor-lista{
  display: flex;
  flex-direction: column;
}

.sponsor-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 5% 8% 0;
  text-align: left;
  margin-left: 10%;
}

/* STYLING BLI SPONSOR index.html */

.bli-sponsor-wrapper {
  border-top: 2px dotted var(--green);
  margin: 10% 5%;
  padding: 5%;
  font-size: 12px;
}

.bli-sponsor {
  margin-bottom: 0;
}

.guld-sponsor,.silver-sponsor{
  padding: 0px;
  margin: 0 5%;
}

/* STYLING FAQ-box */

.faqBox {
  border: 2px dotted var(--green);
  margin: 10% 5% 5% 5%;
  padding: 5%;
  background-color: var(--darkgrey);
}

.question {
  margin: 2%;
  padding: 2%;
  font-size: 14px;
}

.question:hover {
  color:var(--green)
}

.answer {
  display: none;
}

.active + .answer {
  display: block;
}

#matchi-länk, #kontakt-länk {
  color:var(--lightgreen)

}

/* STYLING NAVBAR BOTTOM */

.bottomnav-wrapper {
    display: flex;
    flex-direction: column;
    background-color:var(--darkgrey);
    margin: 0 15% 15% 15%
}

.bottomnav-left {
  background-color: var(--darkgrey);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bottomnav-images {
  background-color: var(--darkgrey);
  margin: 5%;
  display: flex;
  justify-content: space-around;
  margin: 20% 20%
}

  /* Style the links inside the navigation bar */
  .bottomnav-left a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
  }
  
  /* Change the color of links on hover */
  .bottomnav-left a:hover,.bottomnav-right a:hover {
    border: 2px dotted var(--lightgreen);
    border-radius: 50px;
  }
  
  /* Add a green background color to the active link */
  .bottomnav-left a.active, .bottomnav-right a.active {
    border: 2px dotted var(--green);
    border-radius: 50px;
    color: var(--white);
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .bottomnav-left .icon,.bottomnav-right .icon  {
    display: none;
  }

  .logo-bottom {
    display: block;
    margin: -40px auto 20px auto;
    padding: 0 0 0 0;
    height: 50px;
}

/* STYLING FOOTER */

#producedby {
  font-size: 8px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  color: var(--grey);
  margin: 0 10px 10px 0;
}

/* STYLING SIDA företagssamarbeten.html */

.företagssamarbeten-bli-sponsor-wrapper {
  border-bottom: 2px dotted var(--green);
  margin: 5% 5%;
  font-size: 12px;
}

.företagssamarbeten-tack-sponsorer {
  border-bottom: 2px dotted var(--green);
  margin: 0 5%;
  padding-bottom: 5%;
  margin-bottom: 10%;
}

/* STYLING SIDA kilaforsopen.html */

.kilafors-open-container {
  height: 500px;
  width: 400px;
}

.kilafors-open-image {
  height: 100%;
  width: 100%;
  background-image: url(./material/image.png);
  background-position: center;
  background-size: cover;
}

.kilafors-open-header {
  margin-top: -300px;
  font-size: 22px;
}

.bottomnav-wrapper-kilafors-open {
  padding-top: 60px;
}

/* STYLING SIDA kontakt.html */

.boka-knapp-wrapper {
  margin: 10% 0 5% 0;
}

/* MEDIA QUERIES LARGER SCREENS */
@media (min-width: 651px) {
  .topnav-wrapper{
    visibility: visible;
  }

  .boka-knapp {
    width: 150px;
    font-size: 18px;
  }

  .video {
    height: auto;
    width: 100%;
    padding: 0px 0;
  }

  .header-container{
    display: flex;
    align-items: center;
  }

  .header-text-button {
   justify-content: center;
   margin-top: 0;
  }

  h1 {
    font-size: 40px;;
  }

  h2 {
    font-size: 30px;
  }

  a {
    font-size: 18px;
  }

  li {
    font-size: 16px;
  }
  p{
    font-size: 16px;;
  }

  h2.bli-sponsor {
    margin-top: 5%;
  }

  .bli-sponsor-wrapper {
    margin-bottom: 0;
  }

  /* Media Queries top navbar */

  .topnav-wrapper {
    height: 150px;
  }

  .logo-top {
    height: 80px;
  }

  /* Media Queries FAQ-box */
  .question {
    font-size: 16px;
  }

  /* Media Queries bottom navbar*/

  .bottomnav-left {
   visibility: hidden;
  }

  .bottomnav-wrapper {
    height:150px;
  }

  .bottomnav-images {
    display: flex;
    justify-content: center;
  }

  .so-me-logo {
    height: 80px;
    margin-top: -80px;
    padding: 10px;
  }

  .logo-bottom {
    height: 80px;
    margin-bottom: 80px;
  }

  /* Media Queries kilaforsopen.html */
  .kilafors-open-container {
    height: 600px;
    width: auto;
    }
  }